@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    clear: both;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}


/* navigation.blade.php */
#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin: 0;
}

.logo{
    width: 100px;
    margin: 20px;
}

.nav_text {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.accordion_arrow{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.accordion_arrow::before{
    content: "";
    position: absolute;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    /* top: 50%; */
    width: 13px;
    height: 13px;
    transform: translate(-50%, -70%) rotate(135deg);
}

.accordion_arrow.active::before{
    top: 60%;
    transform: translate(-50%, -10%) rotate(-45deg);
}

#menu{
    /* position: absolute; */
    /* width: 40%; */
    /* float: right; */
    margin-right: 20px;
    display: flex;
    /* flex-wrap: nowrap;
    justify-content: end; */
    align-items: center;
}

.accordion_menu{
    margin: 0 30px;
}

ul.accordion_content{
    position: absolute;
    z-index: 10;
    display: none;
    width: 20%;
    top: 77px;
    right: 0;
    background: #fff;
    border: solid 1px #000080;
    text-align: center;
}

ul.accordion_content .accordion_lists a{
    padding: 20px 0;
    font-size: 20px;
    color: #bbb;
    text-decoration: none;
    display: block;
}

ul.accordion_content .accordion_lists a:hover{
    color: #fff;
    background: #000080;
}

img{
    width: 40px;
}


/* login.blade.php */
.follow_count{
    display: flex;
}

.user_name{
    margin: 20px 0 0 10px;
    color: #000;
    font-size: 12px;
}

.follow_text{
    width: 80px;
    margin: 10px;
    color: #000;
    font-size: 12px;
}

.follow_number{
    margin: 10px;
    color: #000;
    font-size: 12px;
}

#confirm{
    padding-bottom: 30px;
    border-bottom: solid 1px #bbb;
}

#confirm .to_follow{
    text-align: right;
    margin-right: 10px;
}

#confirm .to_follow a{
    font-size: 10px;
    width: 120px;
}

.to_search{
    text-align: center;
    margin-top: 30px;
}


/* index.blade.pnp */
.my_post{
    display: flex;
    /* flex-wrap: nowrap; */
    padding: 20px 30px;
    border-bottom: solid 3px #bbb;
}

.post_image{
    flex-grow: 1;
    text-align: right;
}

.post_form{
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: end;
    flex-grow: 10;
    margin-top: 5px;
}

.post{
    border: none;
    background: #f5f8fa;
    width: 70%;
    height: 80px;
    resize: none;
    margin: 0 10px;
}

.post::placeholder{
    color: #bbb;
}

.post_button{
    width: 40px;
}

.user_post{
    padding: 20px 20px 10px 100px;
    border-bottom: solid 1px #bbb;
}

.user_post ul li{
    list-style: none;
    display: flex;
}

.post_content{
    width: 100%;
    padding: 0 10px;
}

.post_content div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post_main{
    width: 80%;
}

.post_text{
    margin: 0;
    font-size: 12px;
}

.edit_button{
    text-align: right;
}

.button_image{
    display: inline-block;
}


/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg{
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
    position: absolute;
    color: #666;
}

.modal_content{
    background: #fff;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border-radius: 10px;
}

.modal_inner{
    text-align: center;
}

.modal_post{
    width: 95%;
    height: 180px;
    resize: none;
    margin: 20px 0;
}

.modal_button{
    width: 50px;
}


/* followList.blade.php */
.follow_list{
    display: flex;
    /* align-items: top; */
    padding: 20px;
    border-bottom: solid 3px #bbb;
}

h2{
    font-size: 20px;
    margin: 10px 0 0 50px;
}

.follow_users{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 0 30px;
}

.follow_icon{
    margin: 3px;
}


/* search.blade.php */
.search_block{
    display: flex;
    align-items: center;
    padding: 30px 0 30px 60px;
    border-bottom: solid 3px #bbb;
}

.search_form{
    display: flex;
    align-items: center;
}

.search_window{
    height: 45px;
    width: 250px;
    border: solid 2px #bbb;
    border-radius: 5px;
}

.search_window::placeholder{
    padding-left: 5px;
}

.search_button{
    margin: 0 0 0 20px;
    width: 40px;
}

.search_text{
    margin: 0 0 0 200px;
    font-size: 20px;
}

.search_user{
    display: flex;
    align-items: center;
    padding: 20px;
}

.search_image{
    margin-left: 230px;
}

.search_name{
    margin: 0 0 0 30px;
    width: 30%;
    font-size: 23px;
    color: #000;
}


/* profile.blade.php */
.profile_content{
    display: flex;
    /* width: 100%; */
    padding: 50px;
    justify-content: center;
}

.profile_image{
    flex-grow: 2;
    text-align: right;
    /* margin: 0 0 0 180px; */
}

.profile_form{
    flex-grow: 5;
}

.profile_item{
    /* width: 100%; */
    margin: 50px 30px;
    display: flex;
    align-items: top;
    text-align: left;
    justify-content: space-between;
}

.profile_item:nth-of-type(1){
    margin-top: 0;
}

.profile_label{
    font-size: 18px;
    margin-top: 5px;
    /* flex-grow: 3; */
    /* width: 100%; */
}

.profile_window{
    /* flex-grow: 5; */
    background: #eee;
    border: solid 1px #aaa;
    width: 50%;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 5%;
}

.upload_button{
    position: relative;
    width: 50%;
    height: 100px;
    background: #eee;
    border: solid 1px #aaa;
    margin-right: 5%;
}

.upload_button::file-selector-button{
    position: absolute;
    top: 25%;
    left: 35%;
    border: none;
    background: #fff;
    padding: 10px;
    font-size: 1.5rem;
    color: #bbb;
}

.upload_button::placeholder{
    position: absolute;
    top: 80%;
}

.profile_submit{
    text-align: center;
}

.profile_others{
    padding: 30px;
    border-bottom: solid 3px #bbb;
    display: flex;
}

.others_icon{
    flex-grow: 1;
    text-align: right;
    margin-left: 30px;
}

.others_block{
    flex-grow: 10;
}

.others_follow{
    flex-grow: 1;
    margin-top: auto;
    margin-left: 20px;
}

.others_content{
    display: flex;
    /* justify-content: left; */
    margin-left: 20px;
}

.others_item{
    font-size: 20px;
    width: 10%;
    flex-grow: 1;
    /* text-align: justify;
    text-align-last: justify; */
}

.others_text{
    font-size: 20px;
    margin-left: 50px;
    width: 50%;
    flex-grow: 8;
    /* text-align: left;
    text-align-last: left; */
}
/*
.others_follow{
    display: flex;
    justify-content: space-between;
} */
